{% extends 'base.html' %}
{% block head %}
    <title>BACKEND TUTORIAL</title>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <h1>Lista delle cose da fare</h1>
            </div>
        </div>
        <div class="row mb-5 text-center">
            <div class="col-lg-12">
                <form action="/" method="POST">
                    <input type="text" name="itemToAdd" id="cosaId">
                    <input type="submit" value="Aggiungi" class="btn btn-primary">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cosa</th>
                        <th scope="col">Data</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for item in itemList %}
                        <tr>
                            <th scope="row">{{ item.id }}</th>
                            <td>{{ item.content }}</td>
                            <td>{{ item.date_created }}</td>
                            <td>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a class="btn btn-sm btn-danger" href="/delete/{{ item.id }}">Delete</a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a class="btn btn-sm btn-info" href="/update/{{ item.id }}">Edit</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>





{% endblock %}